.slider {
  height: 100vh;
  width: 100vw;
  z-index: -9999;
}

.slider .fondo_img_slider {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider .fondo_img_slider_1 {
    background-image: url(../../assets/img/slider1.jpg);
}

.slider .fondo_img_slider_2 {
    background-image: url(../../assets/img/slider2.png);
}

.slider .fondo_img_slider_3 {
    background-image: url(../../assets/img/slider4.png);
}
.slider .fondo_img_slider_opacidad {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 35%);
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  z-index: 9998;
  padding-bottom: 1rem;
}

.slick-dots li button::before {
  font-size: 1.2rem;
}

.container_titulo {
  width: 60%;
  padding: 0;
  margin: 0;
  z-index: 9999;
}

.container_titulo h1 {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: 800;
  color: #ffff;
  line-height: 0.8;
  padding: 0;
  margin: 6px 0;
}

.container_titulo p {
  font-size: 22px;
  font-family: Roboto;
  color: #d1d1d1;
  padding: 0;
  margin: 0;
}

.logo {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

@media (max-width: 600px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .container_titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    }
}
